[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Saketh2306
[access "refs/for/refs/*"]
	read = group user/Saketh2306
	push = group user/Saketh2306
	label-Code-Review = -2..+2 group user/Saketh2306
	label-Verified = -1..+1 group user/Saketh2306
	rebase = group user/Saketh2306
	removeReviewer = group user/Saketh2306
	submit = group user/Saketh2306
[access "refs/heads/*"]
	read = group user/Saketh2306
	create = group user/Saketh2306
	push = +force group user/Saketh2306
	pushMerge = group user/Saketh2306
[access "refs/tags/*"]
	push = group user/Saketh2306
	push = +force group user/Saketh2306
